@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Syne:wght@717;738&display=swap');
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  font-family: Silka;
}
.header-item {
  width: 33%;
  text-align: center;
  padding: 20px;
}
.logo {
  padding: 20px;
}
.head-links {
  display: flex;
  justify-content: space-evenly;
}
.head-links a {
  padding-top: 20px;
  color: black;
  line-height: 19px;
  font-size: 16px;
  font-weight: bold;
  color: #181818;
}
.head-links a:hover {
  text-decoration: none;
}
.login-btn {
  display: inline-block;
  color: blue;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
.login-btn:hover {
  text-decoration: none;
  color:blue;
}
.dev-btn {
  display: inline-block;
  color: blue; 
  border: 1px solid #B4C1F9;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: bold;
}
.dev-btn:hover {
  text-decoration: none;
  color:blue;
}
.menu-btn {
  display: none;
  color: blue; 
  border: 1px solid lightskyblue;
  margin-top: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-btn:hover {
  text-decoration: none;
  color:blue;
}
.head {
  background-image: url('images/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  height: 840px;
  position: relative;
}
.discover-btn {
  color: white;
  background-color: blue;
  font-size: 32px;
  border: none;
  position: absolute;
  bottom: 0;
  padding: 2.5%;
  padding-left: 65px;
  padding-right: 65px;
  right: 8%;
  font-family: 'Syne', sans-serif;
  font-weight: lighter;
}
.trial {
  margin: 10%;
  display: flex;
  justify-content: space-evenly;
}
.trial-div {
  margin: auto 0;
}
.trial-text {
  max-width: 400px;
  font-size: 250%;
}
.trial-btn {
  color: blue;
  font-weight: bolder;
  font-size: 150%;
}
.trial-btn:hover {
  text-decoration: none;
}
.card-img {
  height: 60%;
  width: 60%;
  margin: 0 auto;
}
.card-container {
  text-align: center;
}
.card {
  height: 100%;
}
.get-started-card {
  height: 350px;
  background-color: blue;
  color:white;
}
.get-started-text {
  font-size: 300%;
  padding: 8%;
}
.get-started-btn {
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 150%;
  color: black;
  background-color: white;
  margin: 0 auto;
  width: 20%;
}

.footer {
  background-color: black;
  color: white;
}
.footer-bottom {
  text-align: center;
  color: #484848;
  padding-bottom: 10px;
}
.list {
  width: 20%;
  display: inline-block;
}
.list-icons{
  width: 5%;
  display: inline-block;
  float: right;
  font-size: 20px;
}
.list-icons > div {background-color: black;}
.list > div {
  background-color: black;
}
.footer-link {
  color: white;
}
.footer-link:hover {
  text-decoration: none;
  color: lightgray;
}
.deploy-your-business {
  height: 216px;
  width: 60%;
  color: #FFFFFF;
  font-size: 72px;
  font-weight: bold;
  padding-left: 18%;
  padding-top: 20%;
}
.getting-into-cloud-h {
  opacity: 0.6;
  color: #FFFFFF;
  padding-left: 18%;
  padding-top: 18%;
  font-size: 140%;
}
.bitmap {
  height: 42px;
  opacity: 0.8;
  margin-top: 50px;
  margin-left: 30%;
  margin-bottom: 250px;
}
.bitmap img {
  padding: 10px;
  padding-left: 30px;
  width: 180px;
}

/* @media only screen and (min-width: 600px) {
  .head-links{display: flex;}
  .login-btn{display: inline-block;}
  .dev-btn{display: inline-block;}
  .menu-btn{display: none;}
  .head {height: 840px;}
} */