body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main {
  padding: 0px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  font-family: Silka;
}
.logo {
  padding-left: 0px;
  text-align: left;
  
}
.d-ploy-logo-logotyp {
  height: 44px;
  width: 140px;
}
.header-item {
  width: 33%;
  text-align: center;
  padding: 20px;
}
.head-links {
  display: none;
  justify-content: space-evenly;
}
.head-links a {
  color: black;
  line-height: 19px;
}
.head-links a:hover {
  text-decoration: none;
}
.login-btn {
  display:none;
  color: blue;
  padding: 10px;
}
.login-btn:hover {
  text-decoration: none;
  color:blue;
}
.dev-btn {
  display:none;
  color: blue; 
  border: 1px solid lightskyblue;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.dev-btn:hover {
  text-decoration: none;
  color:blue;
}
.menu-btn {
  display: inline-block;
  color: blue; 
  border: 1px solid lightskyblue;
  margin-top: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-btn:hover {
  text-decoration: none;
  color:blue;
}
.head {
  background-image: url('images/Screenshot_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  height: 200px;
  position: relative;
}
.discover-btn {
  color: white;
  background-color: blue;
  font-size: 250%;
  border: none;
  position: absolute;
  bottom: 0;
  padding: 2.5%;
  right: 11%;
}


@media only screen and (min-width: 600px) {
  .head-links{display: flex;}
  .login-btn{display: inline-block;}
  .dev-btn{display: inline-block;}
  .menu-btn{display: none;}
  .head {height: 840px;}
}